* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.rounded-icon {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

body {
	background-color: #fce4ec;
	color: #000000;
}

body {
	font-family: Arial, sans-serif;
	background-image: url("img/padrao-sem-emenda-de-elementos-de-cabeleireiro-ilustracao-em-vetor-de-fundo-de-icones-de-doodle-papel-de-parede-o-conceito-de-salao-de-cabeleireiro-e-salao-de-beleza_78677-9535.avif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #0a0a0a;
}

header {
	background-color: #f26c7c;
	color: white;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Georgia, "Times New Roman", Times, serif;
}

header h1 {
	margin-left: 10px;
}

header button {
	background-color: white;
	color: #d81b60;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
}

.login-button {
	background-color: white;
	color: #f26c7c;
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
}

.login-button:hover {
	background-color: #ffe3e7;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.login-box {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

.login-box h2 {
	margin-bottom: 20px;
}

.login-box label {
	display: block;
	margin-top: 10px;
	text-align: left;
}

.login-box input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.login-box button {
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	background-color: #f26c7c;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	background-color: #f26c7c;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}
